* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  background-color: #008080;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #000;
}

.container {
  background-color: #C0C0C0;
  padding: 20px 40px;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 4px 4px 0 #000;
  text-align: center;
  width: 80%;
  max-width: 600px;
  animation: slideIn 1s ease-out;
}

header {
  margin-bottom: 20px;
}

header h1 {
  font-size: 2em;
  color: #000080;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 i {
  margin-right: 10px;
}

header h2 {
  font-size: 1.5em;
  color: #000080;
}

main p {
  font-size: 1.2em;
  margin-bottom: 2em;
  line-height: 1.6;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #000080;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  border: 2px solid #000;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
}

.button i {
  margin-right: 10px;
}

.button:hover {
  background-color: #0000FF;
  transform: scale(1.10);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}